.container {
  width: 250px;
  background-color: #eee;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  .name {
    font-size: large;
    font-weight: bold;
  }
}

