.main {
    background-color: rgb(210, 230, 255);
    padding: 30px;
    height: 100vh;

    .container {
        display: flex;
        .sub_container {
            margin: 10px;
            border-radius: 20px;
            flex-grow: 1;

            .headline {
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                background-color: lightskyblue;
                padding: 15px;
                font-size: 20px;
            }

            .contents {
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                background-color: white;
                padding: 15px;

                .item {
                    padding: 10px 0 10px 0;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}

.modal_container {
    background-color: rgb(210, 230, 255);
    width: 100%;
    height: 100%;

}
